<div class="body">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="/">
						<img alt="Automatiza Varejo" width="210" height="80" data-sticky-width="130"
							data-sticky-height="50" src="/img/logo.png">
					</a>
				</div>
				<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse"
					data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="navbar-collapse nav-main-collapse collapse">
				<div class="container">
					<nav class="nav-main mega-menu">
						<ul class="nav nav-pills nav-main" id="mainMenu">
							<li class="dropdown">
								<a data-hash href="#home">Início</a>
							</li>
							<li class="dropdown">
								<a data-hash href="#who">Quem somos</a>
							</li>
							<li class="dropdown">
								<a data-hash href="#solutions">Soluções</a>
							</li>

							<li class="dropdown">
								<a data-hash href="#ask">Perguntas</a>
							</li>


							<li class="dropdown">
								<a data-hash href="#contact">Contato</a>
							</li>

							<li class="dropdown">
								<a href="https://app.automatizavarejo.com.br/" target="blank">
									<i class="fa fa-user"></i> <span class="margin-left">Área do Cliente</span>
								</a>
							</li>

						</ul>
					</nav>

				</div>
			</div>
		</header>
		<div role="main" class="main" id="home">
			<div role="main" class="main">
				<div class="slider-container">
					<div class="slider">
						<ul>
							<li data-transition="fade" data-slotamount="13" data-masterspeed="300">
								<img src="/img/slides/slide-bg-2.png" data-bgfit="cover" data-bgposition="left top"
									data-bgrepeat="no-repeat">

								<div class="tp-caption top-label lfl stl" data-x="227" data-y="160" data-speed="300"
									data-start="500" data-easing="easeOutExpo">PRECISANDO DE AGILIDADE,</div>

								<div class="tp-caption top-label lfl stl" data-x="227" data-y="200" data-speed="300"
									data-start="800" data-easing="easeOutExpo">SEGURANÇA E</div>

								<div class="tp-caption main-label sft stb" data-x="222" data-y="240" data-speed="300"
									data-start="1500" data-easing="easeOutExpo">+ GESTÃO?</div>

								<div class="tp-caption bottom-label sft stb" data-x="227" data-y="310" data-speed="500"
									data-start="2000" data-easing="easeOutExpo">O varejo simples ainda mais simples!
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="container text-align-center margin-top">
					<div class="col-md-12">
						<a class="btn btn-primary" href="" target="_blank">
							<i class="fa fa-apple"></i> Apple Store
						</a>
						<a class="btn btn-primary" href="" target="_blank">
							<img src="https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-0.png"
								width="22" height="18"> Google Play
						</a>
					</div>
				</div>

				<div class="container">

					<div class="row">
						<hr class="tall" />
					</div>

				</div>

				<div class="container">
					<div class="row center">
						<div class="col-md-12" id="who">
							<h2 class="short word-rotator-title">Tornando o varejo ainda mais <strong class="inverted"
									data-appear-animation="bounceIn">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>intuitivo</span>
											<span>espontâneo</span>
											<span>natural</span>
											<span>claro</span>
											<span>leve</span>
											<span>tranquilo</span>
											<span>direto</span>
											<span>básico</span>
											<span>objetivo</span>
											<span>evidente</span>
											<span>fácil</span>
											<span>suave</span>
											<span>simples</span>
										</span>
									</span>
								</strong></h2>
							<p data-appear-animation="fadeIn" class="featured lead">
								Somos profissionais que acreditam que a tecnologia deve ser um aliado
								e não um obstáculo para o sucesso em qualquer setor. O objetivo da <strong>AUTOMATIZA
									VAREJO</strong> é
								reduzir rotinas burocráticas
								e o excesso de planilhas, criando micros serviços independentes, intuitivos e autônomos,
								tornando o varejo simples ainda mais simples.
							</p>
						</div>
					</div>

				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-12 margin-top">
							<h2 data-appear-animation="fadeInLeft"><strong>Sobre</strong> nossas Ferramentas</h2>
							<div class="row">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-4">
													<div data-appear-animation="fadeIn" class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-check"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">Simplicidade</h4>
															<p class="tall">Nossas ferramentas são todas construídas no
																conceito UX de simplicidade, interativa e intuitiva. Sem
																dificuldade!</p>
														</div>
													</div>
													<div data-appear-animation="fadeIn" class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-cogs"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">Microserviços</h4>
															<p class="tall">Nossas soluções tem o objetivo de acabar com
																o uso de planilhas em processos simples do dia a dia.
																Ferramentas compactas e diretas!</p>
														</div>
													</div>
												</div>
												<div data-appear-animation="fadeIn" class="col-md-4">
													<div class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-cubes"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">Indepedência</h4>
															<p class="tall">Os microserviços são independentes,
																excluindo comportamentos indesejados
																após atualizações.</p>
														</div>
													</div>
													<div data-appear-animation="fadeIn" class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-money"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">Valor Acessível</h4>
															<p class="tall">Por se tratar de microserviços, você não
																paga pelo que não pretende usar! Sem fidelidade, sem
																burocracia!</p>
														</div>
													</div>
												</div>
												<div data-appear-animation="fadeIn" class="col-md-4">
													<div class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-lightbulb-o"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">Tem alguma ideia?</h4>
															<p class="tall">Deixe-nos saber! Podemos desenvolver a
																solução para o seu processo especificamente!</p>
														</div>
													</div>
													<div data-appear-animation="fadeIn" class="feature-box secundary">
														<div class="feature-box-icon">
															<i class="fa fa-clock-o"></i>
														</div>
														<div class="feature-box-info">
															<h4 class="shorter">+ Tempo</h4>
															<p class="tall">Com processos seguros, automatizados e
																simples, tenha mais tempo para as coisas que realmente
																importam, o seu <strong>Negócio.</strong></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<hr class="tall" />
						</div>

					</div>

				</div>
			</div>

			<div class="container">
				<div class="row">
					<div role="main" class="main shop">

						<h2 class="short" data-appear-animation="fadeInLeft" id="solutions"><strong>Nossas</strong>
							Soluções</h2>
						<div class="toogle display-flex" data-plugin-toggle>
						</div>
						<p class="featured lead">
							Conheça as soluções que desenvolvemos para facilitar a gestão e o seu dia a dia:
						</p>
						<ul class="products product-thumb-info-list" data-plugin-masonry>
							<li data-appear-animation="fadeIn" class="col-md-3 col-sm-6 col-xs-12 product">
								<a href="shop-product-sidebar.html">
									<span class="onsale">Novo!</span>
								</a>
								<span class="product-thumb-info">
									<a href="shop-product-sidebar.html">
										<span class="product-thumb-info-image">
											<span class="product-thumb-info-act">
												<span class="product-thumb-info-act-left"><em>Saiba</em></span>
												<span class="product-thumb-info-act-right"><em><i
															class="fa fa-plus"></i> Mais</em></span>
											</span>
											<img alt="" class="img-responsive" src="/img/products/product-1.jpg">
										</span>
									</a>
									<span class="product-thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4 class="text-align-center">Aplicativo Gestão Promotores</h4>
										</a>
									</span>
								</span>
							</li>
							<li data-appear-animation="fadeIn" class="col-md-3 col-sm-6 col-xs-12 product">
								<span class="product-thumb-info">
									<a href="shop-product-sidebar.html">
										<span class="product-thumb-info-image">
											<span class="product-thumb-info-act">
												<span class="product-thumb-info-act-left"><em>Saiba</em></span>
												<span class="product-thumb-info-act-right"><em><i
															class="fa fa-plus"></i> Mais</em></span>
											</span>
											<img alt="" class="img-responsive" src="/img/products/product-1.jpg">
										</span>
									</a>
									<span class="product-thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4 class="text-align-center">Coletor de Dados em seu Dipositivo Móvel</h4>
										</a>
									</span>
								</span>
							</li>
							<li data-appear-animation="fadeIn" class="col-md-3 col-sm-6 col-xs-12 product">
								<span class="product-thumb-info">
									<a href="shop-product-sidebar.html">
										<span class="product-thumb-info-image">
											<span class="product-thumb-info-act">
												<span class="product-thumb-info-act-left"><em>Saiba</em></span>
												<span class="product-thumb-info-act-right"><em><i
															class="fa fa-plus"></i> Mais</em></span>
											</span>
											<img alt="" class="img-responsive" src="/img/products/product-1.jpg">
										</span>
									</a>
									<span class="product-thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4 class="text-align-center">Satisfação do Cliente - CRM / INDICADORES</h4>
										</a>
									</span>
								</span>
							</li>
							<li data-appear-animation="fadeIn" class="col-md-3 col-sm-6 col-xs-12 product">
								<span class="product-thumb-info">
									<a href="shop-product-sidebar.html">
										<span class="product-thumb-info-image">
											<span class="product-thumb-info-act">
												<span class="product-thumb-info-act-left"><em>Saiba</em></span>
												<span class="product-thumb-info-act-right"><em><i
															class="fa fa-plus"></i> Mais</em></span>
											</span>
											<img alt="" class="img-responsive" src="/img/products/product-1.jpg">
										</span>
									</a>
									<span class="product-thumb-info-content">
										<a href="shop-product-sidebar.html">
											<h4 class="text-align-center">Ajuste Descrição dos Produtos</h4>
										</a>
									</span>
								</span>
							</li>

					</div>

					<div class="container">

						<div class="row">
							<hr class="tall" />
						</div>

					</div>
					<!-- ÍNCIO FAQ -->

					<div class="container">
						<div class="row">

							<div class="col-md-12">
								<h2 class="short" data-appear-animation="fadeInLeft" id="ask"><strong>Dúvidas</strong>
									Frequentes</h2>
								<div class="toogle display-flex" data-plugin-toggle>

									<div class="col-md-6 col-sm-12 col-xs-12">
										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 01</label>
											<p>Resposta 01</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 02</label>
											<p>Resposta 02</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 03</label>
											<p>Resposta 03</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 04</label>
											<p>Resposta 04</p>
										</section>
										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 05</label>
											<p>Resposta 05</p>
										</section>
									</div>

									<div class="col-md-6 col-sm-12 col-xs-12">
										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 06</label>
											<p>Resposta 06</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 07</label>
											<p>Resposta 07</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 08</label>
											<p>Resposta 08</p>
										</section>

										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 09</label>
											<p>Resposta 09</p>
										</section>
										<section data-appear-animation="fadeIn" class="toggle">
											<label>Dúvida 10</label>
											<p>Resposta 10</p>
										</section>
									</div>
								</div>

							</div>

						</div>
					</div>
					<!-- FIM FAQ -->

					<div class="container">

						<div class="row">
							<hr class="tall" />
						</div>

					</div>
					<!-- ÍNCIO CONTATO -->
					<div class="container">

						<div class="row" id="contact">
							<div class="col-md-6">

								<div class="alert alert-success hidden" id="contactSuccess">
									<strong>Sucesso!</strong> Sua mensagem foi enviada e responderemos o mais breve
									possível.
								</div>

								<div class="alert alert-danger hidden" id="contactError">
									<strong>Erro!</strong> Erro interno. Tente mais tarde.
								</div>

								<h2 data-appear-animation="fadeInLeft"><strong>Contate</strong>-nos</h2>
								<form id="contactForm" action="/contact-us">
									<div class="row">
										<div class="form-group">
											<div data-appear-animation="fadeIn" class="col-md-6">
												<label>Seu nome: *</label>
												<input type="text" value="" data-msg-required="Insira o seu nome."
													maxlength="100" class="form-control" name="name" id="name" required>
											</div>
											<div data-appear-animation="fadeIn" class="col-md-6">
												<label>Seu e-mail para contato: *</label>
												<input type="email" value="" data-msg-required="Insira seu e-mail."
													data-msg-email="Insira um e-mail válido." maxlength="100"
													class="form-control" name="email" id="email" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group">
											<div data-appear-animation="fadeIn" class="col-md-12">
												<label>Assunto</label>
												<input type="text" value=""
													data-msg-required="O campo assunto é obrigatório." maxlength="100"
													class="form-control" name="subject" id="subject" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div data-appear-animation="fadeIn" class="form-group">
											<div class="col-md-12">
												<label>Mensagem *</label>
												<textarea maxlength="5000"
													data-msg-required="Digitar sua mensagem é obrigatório." rows="10"
													class="form-control" name="message" id="message"
													required></textarea>
											</div>
										</div>
									</div>
									<div class="row">
										<div data-appear-animation="fadeIn" class="col-md-12">
											<input type="submit" value="Enviar Mensagem" class="btn btn-primary btn-lg"
												data-loading-text="Carregando...">
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6 margin-top-contact">

								<h4 class="push-top">Deixe-nos<strong> saber</strong></h4>
								<p data-appear-animation="fadeIn"> Nós apreciamos sua visita e estamos sempre aqui para
									ajudá-lo. Se você tiver alguma
									proposta,
									dúvida, problema ou qualquer outra questão, por favor, não hesite em nos contatar.
								</p>

								<hr />

								<h4><strong>Contatos</strong></h4>
								<ul class="list-unstyled">
									<li><i data-appear-animation="fadeIn" class="fa fa-map-marker"></i>
										<strong>Endereço:</strong>
									</li>
									<li><i data-appear-animation="fadeIn" class="fa fa-phone"></i>
										<strong>Telefone:</strong> (61) 9 9999-9999</li>
									<li><i data-appear-animation="fadeIn" class="fa fa-envelope"></i>
										<strong>E-mail:</strong> <a
											href="mailto:contato@automatizavarejo.com.br">contato@automatizavarejo.com.br</a>
									</li>
								</ul>

								<hr />

							</div>

						</div>

					</div>
					<!-- FIM CONTATO -->

				</div>
				<footer id="footer" class="light narrow">
					<div class="container-footer">
						<div class="row">
							<div>
								<ul class="nav nav-pills text-align-center">
									<li>
										<a data-hash href="#home">Início</a>
									</li>
									<li>
										<a data-hash href="#who">Quem Somos</a>
									</li>
									<li>
										<a data-hash href="#solutions">Soluções</a>
									</li>
									<li>
										<a data-hash href="#ask">Perguntas</a>
									</li>
									<li>
										<a data-hash href="#contact">Contato</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="container-footer">
							<div class="col-md-12">
								<p>© Copyright 2023. Todos os direitos reservados.</p>
							</div>
						</div>
					</div>
				</footer>

			</div>

			<!-- Vendor -->
			<script src="/vendor/jquery/jquery.js"></script>
			<script src="/vendor/jquery.appear/jquery.appear.js"></script>
			<script src="/vendor/jquery.easing/jquery.easing.js"></script>
			<script src="/vendor/jquery-cookie/jquery-cookie.js"></script>
			<script src="/vendor/bootstrap/bootstrap.js"></script>
			<script src="/vendor/common/common.js"></script>
			<script src="/vendor/jquery.validation/jquery.validation.js"></script>
			<script src="/vendor/jquery.stellar/jquery.stellar.js"></script>
			<script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
			<script src="/vendor/jquery.gmap/jquery.gmap.js"></script>
			<script src="/vendor/isotope/jquery.isotope.js"></script>
			<script src="/vendor/owlcarousel/owl.carousel.js"></script>
			<script src="/vendor/jflickrfeed/jflickrfeed.js"></script>
			<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
			<script src="/vendor/vide/vide.js"></script>

			<!-- Theme Base, Components and Settings -->
			<script src="/js/theme.js"></script>

			<!-- Specific Page Vendor and Views -->
			<script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
			<script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
			<script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
			<script src="/js/views/view.home.js"></script>
			<script src="/js/views/view.contact.js"></script>
			
			<!-- Theme Initialization Files -->
			<script src="/js/theme.init.js"></script>